

<!--Change the href later, right now they do nothing-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#top">ChatterBox</a>
        </div>
        

        <ul class="nav navbar-nav navbar-right">
            <form action="/logout">
                <li>
                    <button type="submit" class="btn btn-danger navbar-btn">
                        <span class="glyphicon glyphicon-log-out"> Logout</span>
                    </button>
                </li>
            </form>
        </ul>
    </div>
</nav>


<div style="width: 100%">
<div style="float:right; width: 80%">
<div class="container">
    <div id="top">
        <h1>Posts Page</h1>
        <hr>

        <div id="post_area">
        </div>
        <br><br><br>
    </div>
</div>


<div class="container">
    <hr>
    <h3>Send a message:</h3>
    <form id="send_message">
        <textarea placeholder="Message" class="form-control" id="message_to" rows="5" required></textarea>
        <br>
        <input type="submit" class="btn btn-success" value="Send" onclick="send_message()">
    </form>
</div>
</div>
<div style="float:right; width:20%; height:100%;  border-right: solid; display: block;">
<div class="container" style ="height:100%;overflow: auto">
    <h3>chatters:</h3>
    <ul style =" display: block;  list-style-type: none;">
        <li>Person 1</li>
        <li>Person 2</li>
        <li>sqqq</li>
    </ul>

    <br><br>
</div>
    
</div>
<br>

<div>

