<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Welcome to Chatter box</p>
    </div>

    <a href="/login"><button onclick="'/login" class="btn btn-default">Login</button></a>
    <br><br>
    <a href="/signup"><button class="btn btn-default">Sign up</button></a>

</div>
