<div class="container">
    <div class="page-header">
        <h1>chatterBOX</h1>
    </div>
</div>

<hr>
<h4>If you don't have an account, sign up!</h4>
<a href="/signup"><input type="button" class="btn btn-default" value="Sign Up"></a>


<p id="desc"></p>
<div class="container">
    <br><br><br>
    <p>Created by Sam &amp; Sovann</p>
</div>
