<script type="text/javascript">

    function signUp() {
        var password1 = document.getElementByID("password1");
        var password2 = document.getElementByID("password2");
        var user = document.getElementByID("username");

        if (password1 == password2) {

            $.ajax({
                type: "GET",
                url: "signUp.js",
                timeout: 2000,
                data: {username: user, password: password1},
                success: function (data) {

                    alert('Success!');
                    location.replace("login.html");
                },
                error: function (jqXHR, textStatus, err) {
                    //show error message
                    alert('text status ' + textStatus + ', err ' + err);
                }
            });
        }
        else {
            alert("Your passwords don't match");
        }
    }

</script>

<div class="container">
    <form action="/user_signup" method="post">
        <div class="page-header">
            <h3>Sign Up</h3>
        </div>
        <input placeholder="Enter a Username" type="text" name="username" required>
        <br><br>

        <input placeholder="Enter a Password" type="password" name="password" required>
        <br><br>
        <!--<h5>Re-Entered Password</h5>-->
        <!--<input placeholder="Enter a Password" type="password" name="password" required>-->
        <!--<br><br>-->
        <input type="submit" class="btn btn-success">
    </form>

    <p id="desc"></p>
</div>
