<script type="text/javascript">
     


     function signUp() 
     {
        var password1 = document.getElementByID("password1");
        var password2 = document.getElementByID("password2");
        var user = document.getElementByID("username");

        if(password1 == password2)
        {
        
            $.ajax({
                type: "GET",
                url: "signUp.js",
                timeout: 2000,
                data: { username: user, password: password1},
                success: function(data) {
                    
                    alert('Success!');
                    location.replace("login.html");
                },
                error: function(jqXHR, textStatus, err) {
                    //show error message
                    alert('text status '+textStatus+', err '+err);
                }
            });
        }
        else
        {
            alert("Your passwords don't match");
        }
     }
    
</script>

<div class="container">
    <form action="signUp.js" method="post">
        <div class="page-header">
            <h3>Sign Up</h3>
        </div>
        <h5 style = "margin:0;">Username</h5>
        <input placeholder="Enter a Username" type="text" name="username" id="username" required>
        <br><br>
        <h5 style = "margin:0;">Password</h5>
        <input placeholder="Enter a Password" type="password" name="password" id = "password1" required>
        <br><br>
        <h5 style = "margin:0;">Re-Entered Password</h5>
        <input placeholder="Enter a Password" type="password" name="password" id="password2" required>
        <br><br>
        <input type="submit" class="btn btn-success" id="submit">
    </form>

    <p id="desc"></p>
</div>
