<div class="container">
    <form action="/user_signup" method="post">
        <div class="page-header">
            <h3>Sign Up</h3>
        </div>
        <input placeholder="Enter a Username" type="text" name="username" required>
        <br><br>

        <input placeholder="Enter a Password" type="password" name="password" required>
        <br><br>

        <input type="submit" class="btn btn-success">
    </form>

    {{#if msg }}
        <br><br><br>
        <div class="alert alert-warning alert-danger show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Uh oh! </strong>{{ msg }}
        </div>
    {{/if}}
    <br>

</div>
