
.chat_log {
    background-color: whitesmoke;
    padding: 1%;
}

.alert-white{
    background-color: white;
}

li:hover{
    background-color: darkcyan;
    color: white;
    border-radius: 1px;
    cursor: pointer;
}

.nav-sidebar{
    border-radius: 10px;
    background-color: whitesmoke;
}